@import "syntax-variables";
atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;
    //color: #86DDFF;
    -webkit-font-smoothing: antialiased;
}
atom-text-editor .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;
}
atom-text-editor .gutter .line-number.cursor-line {
    background-color: @syntax-gutter-background-color-selected;
    color: @syntax-gutter-text-color-selected;
}
atom-text-editor .gutter .line-number.cursor-line-no-selection {
    color: @syntax-gutter-text-color-selected;
}
atom-text-editor .wrap-guide {
    color: @syntax-wrap-guide-color;
}
atom-text-editor .indent-guide {
    color: @syntax-indent-guide-color;
}
atom-text-editor .invisible-character {
    color: @syntax-invisible-character-color;
}
atom-text-editor .search-results .syntax--marker .region {
    background-color: transparent;
    border: @syntax-result-marker-color;
}
atom-text-editor .search-results .syntax--marker.current-result .region {
    border: @syntax-result-marker-color-selected;
}
atom-text-editor.is-focused .cursor {
    border-color: @syntax-cursor-color;
    border-width: 2px;
}
atom-text-editor.is-focused .selection .region {
    background-color: @syntax-selection-color;
}
atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line {
    background-color: rgba(0, 0, 0, 0.19);
}
.syntax--variable.syntax--parameter.syntax--function {
    color: rgba(238, 255, 255, 1);
}
.syntax--comment,
.syntax--punctuation.syntax--definition.syntax--comment {
    color: @syntax-comments-color;
}
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--variable,
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--array {
    color: #d9f5dd;
}
.syntax--none {
    color: #d9f5dd;
}
.syntax--keyword.syntax--operator {
    color: #d9f5dd;
}
.syntax--keyword {
    color: lighten(@md-deep-purple, 25%);
}
.syntax--variable {
    //color: mix(lighten(desaturate(@md-pink, 12%), 15%), @md-red);
    color: #86DDFF;

    .syntax--punctuation.syntax--definition.syntax--variable {
      color: inherit;
    }
}
.syntax--entity.syntax--name.syntax--function,
.syntax--meta.syntax--require,
.syntax--support.syntax--function.syntax--any-method,
.syntax--meta.syntax--function-call,
.syntax--support.syntax--function,
.syntax--keyword.syntax--other.syntax--special-method,
.syntax--meta.syntax--block-level {
    //color: #82b1ff;
    color: #86DDFF;
}
.syntax--support.syntax--class, .syntax--entity.syntax--name.syntax--class, .syntax--entity.syntax--name.syntax--type.syntax--class {
    //color: desaturate(lighten(@md-amber, 15%), 13%);
    color: #86DDFF;
}
.syntax--meta.syntax--class {
    color: #fff;
}
.syntax--keyword.syntax--other.syntax--special-method {
    color: #82b1ff;
}
.syntax--storage {
    color: lighten(@md-deep-purple, 25%);
}
.syntax--support.syntax--function,
.syntax--keyword.syntax--operator,
.syntax--constant.syntax--other.syntax--color,
.syntax--meta.syntax--tag,
.syntax--punctuation.syntax--definition.syntax--tag,
.syntax--punctuation.syntax--separator.syntax--inheritance.syntax--php,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--html,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html {
    //color: #80cbc4;
    color: #86DDFF;
}
.syntax--string,
.syntax--constant.syntax--other.syntax--symbol,
.syntax--entity.syntax--other.syntax--inherited-class {
    color: #c3e88d;
}
.syntax--constant.syntax--numeric {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--none {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--constant {
    //color: lighten(desaturate(@md-red, 10%), 8%);
    color: #86DDFF;
}
.syntax--entity.syntax--name.syntax--tag {
    color: mix(lighten(desaturate(@md-pink, 12%), 15%), @md-red);
}
.syntax--entity.syntax--other.syntax--attribute-name {
    color: #c3e88d;

    &.syntax--class.syntax--css {
        color: #FFC55C;

        .syntax--punctuation.syntax--entity {
            color: #FFC55C;
        }
    }
    &.syntax--id {
        color: #fad430;

        .syntax--punctuation.syntax--entity {
            color: #fad430;
        }
    }
    .syntax--punctuation.syntax--entity {
        color: lighten(@md-deep-purple, 25%);
    }
}
.syntax--meta.syntax--selector {
    color: lighten(@md-deep-purple, 25%);
}
.syntax--none {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading,
.syntax--entity.syntax--name.syntax--section {
    color: desaturate(lighten(@md-light-blue, 22%), 15%);
}
.syntax--keyword.syntax--other.syntax--unit {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--markup.syntax--bold, .syntax--punctuation.syntax--definition.syntax--bold {
    font-weight: normal;
    color: desaturate(lighten(@md-amber, 15%), 13%);
}
.syntax--markup.syntax--italic,
.syntax--punctuation.syntax--definition.syntax--italic {
    font-style: italic;
    color: lighten(@md-deep-purple, 25%);
}
.syntax--markup.syntax--raw.syntax--inline, .syntax--markup.syntax--raw {
    color: #f1e655;
}
.syntax--string.syntax--other.syntax--link,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--markdown {
    color: #ff5370;
}
[data-grammar*="gfm"]::shadow {
    .syntax--markup.syntax--underline.syntax--link {
        color: lighten(#ff5370, 10%);

        span.syntax--punctuation {
            color: #ff5370;
        }
    }
    .syntax--markup.syntax--strike {
        position: relative;
        color: fade(@syntax-text-color, 50%);

        &::after {
            content: "";
            position: absolute;
            top: calc(50% + 4px);
            left: 0;
            right: 0;
            height: 1px;
            background-color: fade(@syntax-text-color, 20%);
        }
    }
    .syntax--table .syntax--border {
        color: fade(@syntax-text-color, 50%);
    }
    .syntax--markup.syntax--heading {
        color: #82b1ff;
    }
    .syntax--punctuation.syntax--definition.syntax--begin, .syntax--punctuation.syntax--definition.syntax--end {
        color: #82b1ff;
    }
    .syntax--punctuation.syntax--definition.syntax--begin + span:not(.syntax--function.syntax--parameter) {
        color: lighten(#82b1ff, 5%);
    }
}
.syntax--meta.syntax--link {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--markup.syntax--list {
    color: mix(lighten(desaturate(@md-pink, 12%), 15%), @md-red);
}
.syntax--markup.syntax--quote {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--meta.syntax--separator {
    color: #d9f5dd;
    background-color: rgba(30, 52, 69, 1);
}
.syntax--markup.syntax--inserted {
    color: #f1e655;
}
.syntax--markup.syntax--deleted {
    color: mix(lighten(desaturate(@md-pink, 12%), 15%), @md-red);
}
.syntax--markup.syntax--changed {
    color: lighten(@md-deep-purple, 25%);
}
.syntax--constant.syntax--other.syntax--color,
.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css {
    color: #ffeb95;
}
.syntax--string.syntax--regexp {
    color: #80cbc4;
}
.syntax--constant.syntax--character.syntax--escape {
    color: #80cbc4;
}
.syntax--punctuation.syntax--section.syntax--embedded,
.syntax--variable.syntax--interpolation {
    color: rgba(211, 66, 62, 1);
}
.syntax--invalid.syntax--illegal {
    color: rgba(255, 255, 255, 1);
    background-color: #ec5f67;
}
.syntax--invalid.syntax--broken {
    color: rgba(2, 14, 20, 1);
    background-color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--invalid.syntax--deprecated {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(211, 66, 62, 1);
}
.syntax--invalid.syntax--unimplemented {
    color: rgba(255, 255, 255, 1);
    background-color: #8bd649;
}
.sublimelinter.syntax--annotations {
    color: rgba(123, 81, 87, 1);
    background-color: rgba(255, 255, 247, 1);
}
.sublimelinter.syntax--outline.syntax--illegal {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 149, 153, 1);
}
.sublimelinter.syntax--underline.syntax--illegal {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--outline.syntax--warning {
    color: rgba(255, 255, 255, 1);
    background-color: #ffcf1b;
}
.sublimelinter.syntax--underline.syntax--warning {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--outline.violation {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}
.sublimelinter.syntax--underline.violation {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--mark.syntax--error {
    color: rgba(255, 87, 45, 1);
}
.sublimelinter.syntax--mark.syntax--warning {
    color: rgba(255, 207, 27, 1);
}
.sublimelinter.gutter-mark {
    color: rgba(255, 255, 255, 1);
}
.syntax--markup.syntax--deleted.git_gutter {
    color: #ec5f67;
}
.syntax--markup.syntax--changed.git_gutter {
    color: #ffcf1b;
}
.syntax--markup.syntax--inserted.git_gutter {
    color: #c3e88d;
}
.syntax--markup.syntax--ignored.git_gutter {
    color: #546e7a;
}
.syntax--comment.line.syntax--double-slash .syntax--punctuation.syntax--definition.syntax--comment,
.syntax--meta.syntax--structure.syntax--array .syntax--comment.syntax--block.syntax--json .syntax--punctuation.syntax--definition.syntax--comment {
    color: @syntax-comments-color;
}
.syntax--support.syntax--type.syntax--property-name {
    color: #80cbc4;
}
.syntax--meta.syntax--property-list .syntax--meta.syntax--property-name {
    color: #80cbc4;
}
.syntax--source.syntax--css .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--less .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--scss .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--sass .syntax--keyword.syntax--other.syntax--unit {
    color: #ffeb95;
}
.syntax--entity.syntax--other.syntax--less.syntax--mixin {
    color: #7986cb;
}
.syntax--constant.syntax--other.syntax--color.syntax--rgb-value .syntax--punctuation.syntax--definition.syntax--constant {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.syntax--meta.syntax--attribute-selector .syntax--string.syntax--unquoted.syntax--attribute-value {
    color: #c3e88d;
}
.syntax--meta.syntax--attribute-selector .syntax--entity.syntax--other.syntax--attribute-name.syntax--attribute {
    color: lighten(desaturate(@md-red, 10%), 8%);
}
.bracket-matcher .region {
    border-bottom: 1px solid @syntax-cursor-color;
    box-sizing: border-box;
    background-color: @syntax-bracket-matcher-background-color;
    box-shadow: inset 0 -1px 0 @syntax-cursor-color;
}
